{
  "blogTitle": "michael whelan",
  "siteUrl": "http://www.michael-whelan.net",
  "author": "Michael Whelan",
  "email": "mjmwdev@gmail.com",
  "posts": "_posts",
  "layouts": "_layouts",
  "theme": "mwhelan-bootstrap-theme",
  "output": "../dist",
  "urlFormat": "slug",
  "pageSize": 10,
  "directoryname": "",
  "copyDirectories": [
    "_posts/images => images",
    "javascripts",
    "stylesheets"
  ],
  "processFiles": [{
    "file": "index.cshtml",
    "loop": "Posts"
  },{
    "file": "category.cshtml",
    "loop": "Categories"
  },{
    "file": "categories.cshtml => category"
  },{
    "file": "CNAME.txt => CNAME"
  },{
    "file": "archive.cshtml"
  },{
    "file": "rss.xml",
    "loop": "RSS"
  },{
    "file": "feed.xml",
    "loop": "atom"
  }]
}